<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FIMTestRunnerApp" value="FIMTestsRunner|C:\Users\zaSFE01L\Desktop\FIMTeest\TestLithnet.exe|#DB#"/>
    <add key="ExtTool1" value="FIM Sync Div|D:\Util\FIMSyncTool\Div\FIMSyncTest.exe|"/>
    <add key="ExtTool2" value="FIM Sync Nat|D:\Util\FIMSyncTool\Nat\FIMSyncTest.exe|"/>
    <add key="ExtTool3" value="FIM Config Files|D:\Util\Notepad++\notepad++.exe|-multiInst -nosession &quot;D:\FIMSynchronization\Synchronization Service\Extensions\config*.xml&quot;  &quot;D:\FIMSynchronization\Synchronization Service\Extensions\configurationsToLoad.txt&quot;"/>
  </appSettings>
</configuration>